<div class="page-header">
  <h3>Channel #<%= @channel.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @channel.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/channels" class="btn btn-primary">
        Back
      </a>
      <a href="/channels/<%= @channel.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_channel/<%= @channel.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Channel has many channel_associations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Channel Associations
      </li>

      <% @channel.channel_associations.each do |channel_association| %>
        <li class="list-group-item">
          <a href="/channel_associations/<%= channel_association.id %>">
            <%= channel_association.data_card_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/channel_associations/<%= channel_association.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/channel_associations/<%= channel_association.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_channel_association/<%= channel_association.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
