<div class="page-header">
  <h1>
    Channel associations
    <a href="/channel_associations/new" class="btn btn-lg btn-success">New Channel association</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Data card</th>
        <th>Channel</th>
        <th>Actions</th>
      </tr>

      <% @channel_associations.each do |channel_association| %>
      <tr>
        <td>
          <% if channel_association.data_card.present? %>
            <a href="/data_cards/<%= channel_association.data_card.id %>">
              <%= channel_association.data_card.title %>
            </a>
          <% end %>
        </td>
        <td>
          <% if channel_association.channel.present? %>
            <a href="/channels/<%= channel_association.channel.id %>">
              <%= channel_association.channel.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/channel_associations/<%= channel_association.id %>" class="btn btn-primary">Show</a>
          <a href="/channel_associations/<%= channel_association.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_channel_association/<%= channel_association.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @channel_associations, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
