<div class="page-header">
  <h3>Data Card #<%= @data_card.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @data_card.title %></dd>

      <dt>File size</dt>
      <dd><%= @data_card.file_size %></dd>

      <dt>User</dt>
      <dd><%= @data_card.user_id %></dd>

      <dt>Desription</dt>
      <dd><%= @data_card.desription %></dd>

      <dt>Subtitle</dt>
      <dd><%= @data_card.subtitle %></dd>

      <dt>File layout</dt>
      <dd><%= @data_card.file_layout_id %></dd>

      <dt>Market</dt>
      <dd><%= @data_card.market %></dd>

      <dt>File type</dt>
      <dd><%= @data_card.file_type %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @data_card.image %>" class="img-responsive"></dd>

      <dt>Sample download</dt>
      <dd><%= @data_card.sample_download %></dd>

      <dt>Source</dt>
      <dd><%= @data_card.source %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/data_cards" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @data_card.user %>
        <a href="/data_cards/<%= @data_card.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_data_card/<%= @data_card.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Data card has many taggings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Taggings
      </li>

      <% @data_card.taggings.each do |tagging| %>
        <li class="list-group-item">
          <a href="/taggings/<%= tagging.id %>">
            <%= tagging.tag_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/taggings/<%= tagging.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/taggings/<%= tagging.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tagging/<%= tagging.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tagging" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for data_card_id -->
      <div class="form-group">
        <label for="data_card_id" class="control-label">
          Data card
        </label>

        <%= select_tag(:data_card_id, options_from_collection_for_select(DataCard.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Tagging
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Data card has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @data_card.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.data_card_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for data_card_id -->
      <div class="form-group">
        <label for="data_card_id" class="control-label">
          Data card
        </label>

        <%= select_tag(:data_card_id, options_from_collection_for_select(DataCard.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Data card has many channel_associations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Channel Associations
      </li>

      <% @data_card.channel_associations.each do |channel_association| %>
        <li class="list-group-item">
          <a href="/channel_associations/<%= channel_association.id %>">
            <%= channel_association.data_card_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/channel_associations/<%= channel_association.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/channel_associations/<%= channel_association.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_channel_association/<%= channel_association.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_channel_association" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for data_card_id -->
      <div class="form-group">
        <label for="data_card_id" class="control-label">
          Data card
        </label>

        <%= select_tag(:data_card_id, options_from_collection_for_select(DataCard.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for channel_id -->
      <div class="form-group">
        <label for="channel_id" class="control-label">
          Channel
        </label>

        <%= select_tag(:channel_id, options_from_collection_for_select(Channel.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Channel Association
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Data card has many selections -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Selections
      </li>

      <% @data_card.selections.each do |selection| %>
        <li class="list-group-item">
          <a href="/selections/<%= selection.id %>">
            <%= selection.select_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/selections/<%= selection.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/selections/<%= selection.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_selection/<%= selection.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_selection" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for select_id -->
      <div class="form-group">
        <label for="select_id" class="control-label">
          Select
        </label>

        <%= select_tag(:select_id, options_from_collection_for_select(Select.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for data_card_id -->
      <div class="form-group">
        <label for="data_card_id" class="control-label">
          Data card
        </label>

        <%= select_tag(:data_card_id, options_from_collection_for_select(DataCard.all, :id, :title), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Selection
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
