<div class="page-header">
  <h3>Data Card #<%= @data_card.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @data_card.title %></dd>

      <dt>File size</dt>
      <dd><%= @data_card.file_size %></dd>

      <dt>User</dt>
      <dd><%= @data_card.user_id %></dd>

      <dt>Desription</dt>
      <dd><%= @data_card.desription %></dd>

      <dt>Subtitle</dt>
      <dd><%= @data_card.subtitle %></dd>

      <dt>File layout</dt>
      <dd><%= @data_card.file_layout_id %></dd>

      <dt>Market</dt>
      <dd><%= @data_card.market %></dd>

      <dt>File type</dt>
      <dd><%= @data_card.file_type %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @data_card.image %>" class="img-responsive"></dd>

      <dt>Sample download</dt>
      <dd><%= @data_card.sample_download %></dd>

      <dt>Source</dt>
      <dd><%= @data_card.source %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/data_cards" class="btn btn-primary">
        Back
      </a>
      <a href="/data_cards/<%= @data_card.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_data_card/<%= @data_card.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
