<div class="page-header">
  <h3>Data Card #<%= @data_card.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @data_card.title %></dd>

      <dt>File size</dt>
      <dd><%= @data_card.file_size %></dd>

      <dt>User</dt>
      <dd><%= @data_card.user_id %></dd>

      <dt>Desription</dt>
      <dd><%= @data_card.desription %></dd>

      <dt>Subtitle</dt>
      <dd><%= @data_card.subtitle %></dd>

      <dt>File layout</dt>
      <dd><%= @data_card.file_layout_id %></dd>

      <dt>Market</dt>
      <dd><%= @data_card.market %></dd>

      <dt>File type</dt>
      <dd><%= @data_card.file_type %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @data_card.image %>" class="img-responsive"></dd>

      <dt>Sample download</dt>
      <dd><%= @data_card.sample_download %></dd>

      <dt>Source</dt>
      <dd><%= @data_card.source %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/data_cards" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @data_card.user %>
        <a href="/data_cards/<%= @data_card.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_data_card/<%= @data_card.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Data card has many taggings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Taggings
      </li>

      <% @data_card.taggings.each do |tagging| %>
        <li class="list-group-item">
          <a href="/taggings/<%= tagging.id %>">
            <%= tagging.tag_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/taggings/<%= tagging.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/taggings/<%= tagging.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tagging/<%= tagging.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Data card has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @data_card.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.data_card_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Data card has many channel_associations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Channel Associations
      </li>

      <% @data_card.channel_associations.each do |channel_association| %>
        <li class="list-group-item">
          <a href="/channel_associations/<%= channel_association.id %>">
            <%= channel_association.data_card_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/channel_associations/<%= channel_association.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/channel_associations/<%= channel_association.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_channel_association/<%= channel_association.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Data card has many selections -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Selections
      </li>

      <% @data_card.selections.each do |selection| %>
        <li class="list-group-item">
          <a href="/selections/<%= selection.id %>">
            <%= selection.select_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/selections/<%= selection.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/selections/<%= selection.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_selection/<%= selection.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
