<div class="page-header">
  <h3>Selection #<%= @selection.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Select</dt>
      <dd>
        <% if @selection.select.present? %>
          <a href="/selects/<%= @selection.select_id %>">
            <%= @selection.select.name %>
          </a>
        <% end %>
      </dd>

      <dt>Data card</dt>
      <dd>
        <% if @selection.data_card.present? %>
          <a href="/data_cards/<%= @selection.data_card_id %>">
            <%= @selection.data_card.title %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/selections" class="btn btn-primary">
        Back
      </a>
      <a href="/selections/<%= @selection.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_selection/<%= @selection.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
