<div class="page-header">
  <h3>File Layout #<%= @file_layout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>File name</dt>
      <dd><%= @file_layout.file_name %></dd>

      <dt>File path</dt>
      <dd><%= @file_layout.file_path %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/file_layouts" class="btn btn-primary">
        Back
      </a>
      <a href="/file_layouts/<%= @file_layout.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_file_layout/<%= @file_layout.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A File layout has many data_cards -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Data Cards
      </li>

      <% @file_layout.data_cards.each do |data_card| %>
        <li class="list-group-item">
          <a href="/data_cards/<%= data_card.id %>">
            <%= data_card.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/data_cards/<%= data_card.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/data_cards/<%= data_card.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_data_card/<%= data_card.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_data_card" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for file_size -->
      <div class="form-group">
        <label for="file_size" class="control-label">
          File size
        </label>

        <input type="text" id="file_size" name="file_size" placeholder="File size" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for desription -->
      <div class="form-group">
        <label for="desription" class="control-label">
          Desription
        </label>

        <textarea id="desription" name="desription" placeholder="Desription" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for subtitle -->
      <div class="form-group">
        <label for="subtitle" class="control-label">
          Subtitle
        </label>

        <input type="text" id="subtitle" name="subtitle" placeholder="Subtitle" class="form-control" value="">
      </div>

      <!-- Label and input for file_layout_id -->
      <div class="form-group">
        <label for="file_layout_id" class="control-label">
          File layout
        </label>

        <%= select_tag(:file_layout_id, options_from_collection_for_select(FileLayout.all, :id, :file_name), :class => "form-control") %>
      </div>

      <!-- Label and input for market -->
      <div class="form-group">
        <label for="market" class="control-label">
          Market
        </label>

        <input type="text" id="market" name="market" placeholder="Market" class="form-control" value="">
      </div>

      <!-- Label and input for file_type -->
      <div class="form-group">
        <label for="file_type" class="control-label">
          File type
        </label>

        <input type="text" id="file_type" name="file_type" placeholder="File type" class="form-control" value="">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" id="image" name="image" class="form-control">
      </div>

      <!-- Label and input for sample_download -->
      <div class="form-group">
        <label for="sample_download" class="control-label">
          Sample download
        </label>

        <input type="text" id="sample_download" name="sample_download" placeholder="Sample download" class="form-control" value="">
      </div>

      <!-- Label and input for source -->
      <div class="form-group">
        <label for="source" class="control-label">
          Source
        </label>

        <input type="text" id="source" name="source" placeholder="Source" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Data Card
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A File layout has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @file_layout.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
