<div class="page-header">
  <h3>File Layout #<%= @file_layout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>File name</dt>
      <dd><%= @file_layout.file_name %></dd>

      <dt>File path</dt>
      <dd><%= @file_layout.file_path %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/file_layouts" class="btn btn-primary">
        Back
      </a>
      <a href="/file_layouts/<%= @file_layout.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_file_layout/<%= @file_layout.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
